<div id="header">
    <div class="logo">
        <h1 class="h1">
            <a href="/">{{title}}</a>
        </h1>
    </div>
    <nav>
        <ul>
            {{!-- <a href="/signin">Sign in</a> --}}
            <a class="h4 borderstyle1" href="/security">Security</a>
            <a class="h4 borderstyle1" href="/contact">Contact</a>
            <a class="h4 borderstyle1" href="/signup">Sign up</a>
        </ul>
    </nav>
</div>