<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/css/layout.css"/>
    <link rel='stylesheet' href='/css/partials.css'/>
    <link rel='stylesheet' href='/css/encryptor.css'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Ultra&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="superContainer">
      {{> header}}
        {{{body}}}
      {{> footer}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="/js/encryptor.js"></script>
  </body>
</html>
