<div id="main">

    <section class="container" id="intro">
        <div>
            <p class="h2">Hey! I'm <b>Mr.Encryptor</b>, let me introduce myself...</p>
            <p class="info">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Doloremque, delectus!
            </p>

            <button class="info btn">
                <a class="h4" href="#encryptor">I want to use it!</a>
            </button>
        </div>
    </section>

    <section class="container" id="encryptor">

        <div class="options">
            <label for="protocols">Protocol</label>
            <select id="protocols" class="btn" name="protocols">
                <option>ec</option>
                <option>ec00</option>
                <option>ec01</option>
                <option>ecMAC</option>
            </select>
            <label for="modes"></label>
            <select id="modes" class="btn" name="modes">
                <option value="encrypt">Encrypt</option>
                <option value="decrypt">Decrypt</option>
            </select>
            <div>
                <label for="iterations">Iterations</label>
                <input value="1" class="btn" id="iterations"type="number" name="iterations" id="iterations" min="1" max="4">
            </div>
        </div>

        <div class="separator"></div>

        <div class="encrypt">
            <form method="post" action="/encrypt">
                <input class="btn" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                id="cinput" type="text" placeholder="Input..." name="cinput">
                <button type="button" id="btnEncrypt" class="btn">➪</button>
            </form>
            <div class="separator"></div>
            <div id="coutput" data-text="Output..." class="textarea"></div>
            <button data-clipboard-target="#coutput" id="copyOutput">
                <img title="Copy to clipboard" src="img/copy.svg" alt="Copy to clipboard">
            </button>
        </div>        
    </section>

</div>